<header class="header">
    <div class="topnav">
    <div class="wp cl">
      <div class="r">
        <span class="r_nav">[ <a rel="nofollow" href="javascript:login();">使用帮助</a> ]</span><span class="pipe">|</span>
        <span class="r_nav">[ <a rel="nofollow" href="javascript:login();">系统登录</a> ]</span><span class="pipe">|</span>
        <span class="r_nav">[ <a href="javascript:register();" rel="nofollow">账户注册</a> ]</span>
      </div>
    </div>
  </div>
    <nav class="mainnav cl">
        <div class="logo">
         <img src="image/logo.png" width="364" height="78" border="0" alt="">
        </div>
      <ul class="m-nav">
        <li class="current"><a href="#">首页</a></li>
        <li><a href="#">微信系统开发</a></li>
        <li><a href="#">微信代运营</a></li>
        <li><a href="#">案例展示</a></li>
        <li><a href="#">代理招募</a></li>
        <li><a href="#">咨询中心</a></li>
        <li><a href="#">关于我们</a></li>
        <li><a href="#">交流社区</a></li>
      </ul>
    </nav>
  </header>
  <!--End of Header-->